<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Ajouter le lien vers Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Ajoute un peu d'espace autour du formulaire */
        form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update User</button>
    </form>
</div>

<!-- Ajouter le lien vers Bootstrap JavaScript (si nécessaire) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
